@use '../../sass/variables.scss';
@use '../../sass/global.scss';

.dropdown_list{
    
  align-items: center;
  justify-content: center;
  flex-direction: column;
 
    display: flex;
}



.link {
  font-size: 1.8rem;
  font-weight: 400;
  color: variables.$color-light;
  transition: 200ms cubic-bezier(1, 0.08, 0.33, 0.95);
  &:hover {
    color: variables.$color-hoverBtn;
  }
  @include global.desktop {
    &._dark,
    &._light {
      &:hover {
        color: variables.$color-hoverBtn;
      }
    }
    &._dark {
      color: variables.$color-dark;
    }
    &._light {
      color: variables.$color-light;
    }
  }
}
