$unfoldIn: unfoldIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
$unfoldOut: unfoldOut 1s 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
$spread: spread 0.5s ease-out;
$imageChangeColor: colorChangeBackground 2s ease-in-out;
$openDropdown: openDropdown 0.3s forwards;
$openDropDownMobile: openDropDownMobile 0.3s forwards;
$scrollText: scroll-text 0.7s ease-in-out forwards;

@keyframes scroll-text {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(100%);
    opacity: 0;
  }
  50% {
    transform: translateY(-100%);
    opacity: 0;
  }
  75% {
    transform: translateY(-50%);
    opacity: 0;
  }
  80% {
    opacity: 0.4;
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes openDropDownMobile {
  0% {
    transform: translateX(200%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes openDropdown {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes colorChangeBackground {
  0% {
    filter: grayscale(0%);
  }

  50% {
    filter: grayscale(100%);
  }

  100% {
    filter: grayscale(0%);
  }
}

@keyframes unfoldIn {
  0% {
    transform: translateX(100%) scaleY(0.005) scaleX(0);
  }
  50% {
    transform: translateX(0) scaleY(0.005) scaleX(1);
  }
  100% {
    transform: translateX(0) scaleY(1) scaleX(1);
  }
}

@keyframes unfoldOut {
  0% {
    transform: translateX(0) scaleY(1) scaleX(1);
  }
  50% {
    transform: translateX(0) scaleY(0.005) scaleX(1);
  }
  100% {
    transform: translateX(100%) scaleY(0.005) scaleX(0);
  }
}

@keyframes spread {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}
