//sizes
$width-fullScreen: 100vw;
$height-fullScreen: 100vh;
$width-full: 100%;
$height-full: 100%;
$width-mobile-menu: 65vw;
$width-content:95vw;

@mixin tablet {
  @media screen and (min-width: 768px) {
    @content;
  }
}
@mixin desktop {
  @media screen and (min-width: 1024px) {
    @content;
  }
}
