//colors
$color-light: rgba(254, 255, 254, 255);
$color-dark: rgba(27, 27, 29, 255);
$color-grey-dark: rgb(122, 120, 120);
$color-grey: rgb(197, 197, 197);
$color-hoverBtn: rgb(85, 72, 1);

//backgrounds
$bg-transparent: transparent;
$bg-dark: rgba(0, 0, 0, 0.8);

//shadows
$shadow-image: 0px 0px 16px -3px rgba(66, 68, 90, 1);
