@use "../../sass/animations.scss";
@use "../../sass/global.scss";
@use "../../sass/variables.scss";
.open_dropdown {
  display: flex;
  animation: animations.$openDropdown;
}


.menu {
  position: absolute;
  top: 0;
  right: -2.5vw;
  width: global.$width-mobile-menu;
  height: global.$height-fullScreen;
  max-height: global.$height-fullScreen;
  background: variables.$bg-dark;
  color: variables.$color-light;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  visibility: hidden;
  margin: 0;
  transition: 200ms cubic-bezier(1, 0.08, 0.33, 0.95);
  @include global.desktop {
    visibility: visible;
    position: unset;
    display: flex;
    flex-direction: row;
    background: none;
    width: global.$width-mobile-menu;
    height: inherit;
  }
}
.link {
  display: flex;
  flex-direction: column;

  font-size: 2rem;
  font-weight: 400;
  color: variables.$color-light;
  transition: 200ms cubic-bezier(1, 0.08, 0.33, 0.95);
  &:hover {
    color: variables.$color-hoverBtn;
  }
  @include global.desktop {
    &._dark,
    &._light {
      &:hover {
        color: variables.$color-hoverBtn;
      }
    }
    &._dark {
      color: variables.$color-dark;
    }
    &._light {
      color: variables.$color-light;
    }
  }
}

.dropdown {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include global.desktop {
    display: block;
  }
}

.arrow_light::before {
  content: "";
  display: block;
  position: absolute;
  top: 3.5rem;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-227deg);
  width: 0.9rem;
  height: 0.2rem;
  background-color: variables.$color-light;
  transform-origin: 100% 50%;
  transition: 200ms cubic-bezier(1, 0.08, 0.33, 0.95);
}

.arrow_light::after {
  content: "";
  display: block;
  position: absolute;
  top: 3.5rem;
  left: 51%;
  transform: translate(-50%, -50%) rotate(45deg);
  width: 0.9rem;
  height: 0.2rem;
  background-color: variables.$color-light;
  transform-origin: 100% 50%;
  transition: 200ms cubic-bezier(1, 0.08, 0.33, 0.95);
}
.arrow_dark::before {
  content: "";
  display: block;
  position: absolute;
  top: 3.5rem;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-227deg);
  width: 0.9rem;
  height: 0.2rem;
  background-color: variables.$color-dark;
  transform-origin: 100% 50%;
  transition: 200ms cubic-bezier(1, 0.08, 0.33, 0.95);
}

.arrow_dark::after {
  content: "";
  display: block;
  position: absolute;
  top: 3.5rem;
  left: 51%;
  transform: translate(-50%, -50%) rotate(45deg);
  width: 0.9rem;
  height: 0.2rem;
  background-color: variables.$color-dark;
  transform-origin: 100% 50%;
  transition: 200ms cubic-bezier(1, 0.08, 0.33, 0.95);
}

.products_list {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 4rem;
  height: max-content;
  border-radius: 5px;
  padding: 0.5rem;
}
.dropdown:hover .arrow_light::after,
.dropdown:hover .arrow_light::before,
.dropdown:hover .arrow_dark::after,
.dropdown:hover .arrow_dark::before {
  background-color: variables.$color-hoverBtn;
}

.dropdown_wrapper {
  display: flex;
  flex-direction: column;
}

.active {
  visibility: visible;
  animation: animations.$unfoldIn;
}

.out {
  visibility: visible;
  animation: animations.$unfoldOut;
}
