@use '../../sass/global.scss';
@use '../../sass/variables.scss';
.logo {
  
  width: 9rem;
  height: 3.3rem;
  @include global.desktop{
    width:16.5rem ;
    height: 7rem;
  }
  & h1{
    display: none;
  }
  & img{
 width: 9rem;
 height: 3.3rem;
  @include global.desktop{
    width:16.5rem ;
    height: 7rem;
  }
  }
  
}
