
@use '../../sass/animations.scss';
@use '../../sass/global.scss';
@use '../../sass/variables.scss';

.scrolled{
  background-color: variables.$bg-dark;
  color:variables.$color-light;
}
.header {
  display: flex;
   width: calc(global.$width-full - 5vw);
  position: fixed;
  top: 0;
  z-index: 1;
  align-items: center;
  justify-content: space-between;
  padding: 0 2.5vw;
  height: 6rem;
  transition: all 0.5s ease-in-out;

&._black{
  background-color: variables.$bg-dark;
  color:variables.$color-light;
  
}
&._transparent{
  background-color: variables.$bg-transparent;
 color: variables.$color-dark;
}

 @include global.desktop{
    height: 8rem;
  }
  

}
