@use "../../App.module.scss" as mixin;

.header {
  display: flex;
  width: mixin.$width-content;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  height: 6rem;
 @include mixin.desktop{
    height: 8rem;
  }

}
