@use './sass/global.scss';
@use './sass/variables';
.App {
  display: flex;
  flex-direction: column;
  width: global.$width-fullScreen;
  height: global.$height-fullScreen;
  background-color: variables.$color-grey;
  align-items: center;
  position: relative;
 
}
