
@import url("https://use.typekit.net/nsp8kav.css");
@import-normalize;
body {
  font-family: 'Roboto',sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   margin: 0 auto;
}

*{
  font-size: 10px;
  list-style-type: none;
  text-decoration: none;
  padding: 0;
  border: none;

}
button{
  box-sizing: border-box;
  background: transparent;
}



